@media (max-width: 1200px)
  .container
    max-width: 960px

@media (max-width: 992px)
  .container
    max-width: 700px
  .navbar
    &-menu
      padding: 22px 0
      font-size: 12px
      line-height: 15px
    &-top
      height: 100px
      &__search
        margin-left: auto
  .logo
    max-width: 132px
  .search
    width: 340px
@media (max-width: 768px)
  .container
    max-width: 700px
    width: 92%
  .navbar
    &-menu
      display: none
    &-top
      &__search
        display: none
      &__user
        display: none
      &__menu-button
        display: flex
        border: none
  .menu-button
    +flex-sb-center(column)
    height: 11px
    padding: 0
    background-color: transparent
    &__line
      height: 1px
      width: 16px
      background-color: $font-grey
  .hotel
    &-rating
      display: none
    &__offer
      margin-left: 0
      order: -1
    &__stars
      flex-basis: auto
    &__name
      flex: 0 0 100%
      margin-top: 10px
    &-data
      &__top
        justify-content: space-between
@media (max-width: 320px)
  .logo
    max-width: 100px



