@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel-slider
    width: 590px
    &__image
      height: 100%
      width: 100%
      object-fit: cover
@media (max-width: 992px)
  .container
    max-width: 710px
  .navbar
    &-menu
      padding: 22px 0
      font-size: 12px
      line-height: 15px
    &-top
      height: 100px
      &__search
        margin-left: auto
  .logo
    max-width: 132px
  .search
    width: 340px
  .hotel
    &-booking
      width: 340px
    &-map
      width: 340px
  .hotel-slider
    width: 100%
  .hotel-bottom
    &__slider
      margin-bottom: 30px
    &__right
      +flex-sb
      width: 100%
  .reviews
    &__header
      font-size: 30px
      line-height: 38px
    &-slider
      margin-top: 50px
      &__item
        max-width: 580px
@media (max-width: 768px)
  .container
    max-width: 700px
    width: 92%
  .navbar
    &-menu
      display: none
    &-top
      &__search
        display: none
      &__user
        display: none
      &__menu-button
        display: flex
        border: none
  .menu-button
    +flex-sb-center(column)
    height: 11px
    padding: 0
    background-color: transparent
    &__line
      height: 1px
      width: 16px
      background-color: $font-grey
  .hotel
    padding-bottom: 60px
    &-rating
      display: none
    &__offer
      margin-left: 0
      order: -1
    &__stars
      flex-basis: auto
    &__name
      flex: 0 0 100%
      margin-top: 10px
    &-data
      &__top
        justify-content: space-between
    &-slider
      height: 350px
      &__container
        height: 100%
        width: 100%
    &-booking
      margin-right: 20px

  .newsletter
    padding: 76px 0 83px 0
    &-container
      +flex(column)
      align-items: flex-start
    &__text
      margin-bottom: 37px
      font-size: 20px
      &--big
        font-size: 30px
    &-input
      width: 280px
  .reviews
    &__header
      font-size: 18px
      line-height: 23px
    &-slider
      margin-top: 42px
      &__item
        padding-left: 30px
        padding-right: 30px
        &:before, &:after
          display: none
      &__button
        top: 45px
        &--prev
          left: 20%
        &--next
          right: 20%
@media (max-width: 580px)
  .hotel
    &-bottom
      &__right
        flex-direction: column
        min-height: 450px
    &-booking
      width: 100%
      margin-right: 0
    &-map
      width: 100%
@media (max-width: 320px)
  .logo
    max-width: 100px
  .hotel
    &-slider
      height: 180px
    &-bottom
      &__right
        min-height: 410px
    &-booking
      height: 210px
    &-map
      height: 180px



