.hotel
  &__container
    padding-top: 24px
    padding-bottom: 20px
    +flex-sb-center
  &-data
    display: flex
    flex-direction: column
    &__top
      display: flex
      flex-wrap: wrap
      align-items: center
  &__stars
    flex-basis: 100%
  &__name
    font-size: 24px
    line-height: 30px
  &__offer
    margin-left: 14px
  &__description
    font-size: 12px
    line-height: 15px
    +no-wrap
  &-rating
    min-width: 65px
    height: 45px
    background-color: $buttons-red
    border-radius: 4px
    color: #ffffff
    font-size: 14px
    padding-top: 9px
    padding-bottom: 6px
    +flex-sb-center(column)
    &__header
      font-size: 8px
    &__range
      font-size: 10px


.offer
  font-size: 10px
  line-height: 13px
  padding: 4px 9px
  background-color: $buttons-red
  color: $font-white
  border-radius: 3px

